@media (min-width: 320px){

    html{
        font-family: 'TT Lakes';
        overflow-x: hidden;
    }

    button:hover{
        cursor: pointer;
    }   
    
    .top-menu{
        border-bottom: 1px solid #D9FFF5;
    }
    
    .top-menu button{
        background-color: #fff;
    }
    
    main, .read-more{
        background-color: #F8F8F8;
    }

    .divider--hide{
        display: none;
    }

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        padding: 0 1rem;
    }
    
    .top-menu__wrapper{
        height: 88px;
    }

    .top-menu__part{
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 1rem;
    }
    
    .divider{
        width: 2px;
        height: 1rem;
        margin: 0 4px 0 4px;

        background: #EAEAEA;
        border-radius: 1px;
    }   

    .main__wrapper{
        display: block;

        padding-right: 0;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .main__header__wrapper{
        padding-left: 0;
    }

    .main__header__title{
        display: flex;
        align-items: center;

        font-size: 1.75rem;
        font-weight: 800;    
        color: #1B1C21;
    }

    .main__header__title::before{
        display: block;
        content: "";
        position: absolute;
        left: 0;

        width: 4px;
        height: 40px;

        background: #41F6D7;

        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .slider-menu{
        display: flex;
        overflow-x: auto;
        gap: 1.5rem; 

        margin: 1.5rem 0;

        -ms-overflow-style: none;  
        scrollbar-width: none;  
    }

    .slider-menu::after{
        display: block;
        position: absolute;
        content: "";
        right: 0px;

        width: 1.5rem;
        height: 2.5rem;

        background: linear-gradient(270deg, #F8F8F8 16.84%, 
                    rgba(248, 248, 248, 0.0001) 100%);

    }
    
    .slider-menu::-webkit-scrollbar {
        display: none;
    }

    .slider-menu__item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        font-weight: 500;
        color: #7E7E82;
    }

    .slider-menu__item:last-child{
        margin-right: 1rem;
    }

    .slider-menu__item--selected{
        width: 15.38rem;
        padding: 0.5rem 0;

        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background: #FFFFFF;
    }

    .about-us{
        padding-left: 0;

        font-size: 0.875rem;
        line-height: 1.125rem;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }

    .about-us__wrapper{
        display: flex;
        flex-direction: column;
    }

    .about-us__text{
        margin-right: 1rem;
    }

    .read-more{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 0.5rem;

       margin-bottom: 0.75rem;

       font-size: 1rem;
       font-weight: 600;
       color: #1B1C21;
    }

    .about-us__bg-image img{
        width: 320px; 
        height: 180px;
    }

    .about-us__bg-image{
        padding: 0;
        margin-left: -1rem;
    }
}

@media (min-width: 768px){

    .btn, .divider{
        display: block;
    }

    .wrapper{
        padding: 0 1.5rem;
    }

    .main__wrapper{
        padding-right: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .about-us__wrapper{
        flex-direction: row;
    }

    .about-us__bg-image img{
        width: 360px; 
        height: 210px;
    }

    .main__header__wrapper{
        padding-left: 0;
    }
    
    .slider-menu{
        margin: 2rem 0;
    }

    .about-us__text{
        line-height: 1.2rem;
    }

    .about-us__text span:first-child{
        display: inline;
    }

    .read-more{
        margin: 0.625rem 0 0 0;
    }

    .about-us__bg-image{
        margin-right: 1.5rem;
    }

    .about-us__wrapper{
       gap: 3rem;
    }

    .about-us__text{
        margin-right: 0;
    }

    .about-us__bg-image img{
        border-radius: 5px;
    }
}

@media (min-width: 1120px){

    .top-menu{
        display: none;
    }

    .wrapper{
        padding: 0 2rem;
        padding-bottom: 2.625rem;
    }   

    .main__wrapper{
        padding-top: 2.625rem;
    }

    .main__header__wrapper{
        display: flex;
        justify-content: space-between;

        padding-left: 0;
        padding-right: 0;
    }   

    .main__header__btns{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .main__header__btns .btn{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        background-color: #F8F8F8;
        
        font-size: 1rem;
        font-weight: 500;
    }

    .slider-menu__item:last-child{
        margin-left: 1.1rem;
    }

    .slider-menu{
        overflow: auto;
        flex-wrap: wrap;
        margin: 0.5rem 0 1.1rem 0;
    }

    .slider-menu::after{
        display: none;
    }

    .about-us__text span{
        display: inline;
    }

    .about-us__bg-image{
        margin-right: 0;
    }
    .about-us__bg-image img{
        width: 532px;
        height: 307px;
    }
}

@media (min-width: 1191px){
    
    .slider-menu__item:last-child{
        margin-left: 0;
    }
}